Backend/.metadata/.lock
Backend/.metadata/.log
Backend/.metadata/version.ini
Backend/.metadata/.mylyn/repositories.xml.zip
Backend/.metadata/.plugins/org.eclipse.core.resources/.projects/.org.eclipse.egit.core.cmp/.location
Backend/.metadata/.plugins/org.eclipse.core.resources/.root/1.tree
Backend/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/history.version
Backend/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
Backend/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.version
Backend/.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
Backend/.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
Backend/.metadata/.plugins/org.eclipse.jdt.core/assumedExternalFilesCache
Backend/.metadata/.plugins/org.eclipse.jdt.core/externalFilesCache
Backend/.metadata/.plugins/org.eclipse.jdt.core/javaLikeNames.txt
Backend/.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache
Backend/.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
Backend/.metadata/.plugins/org.eclipse.jdt.ui/OpenTypeHistory.xml
Backend/.metadata/.plugins/org.eclipse.jdt.ui/QualifiedTypeNameHistory.xml
Backend/.metadata/.plugins/org.eclipse.m2e.core/workspaceState.ser
Backend/.metadata/.plugins/org.eclipse.m2e.core.ui/dialog_settings.xml
Backend/.metadata/.plugins/org.eclipse.m2e.logback/0.log
Backend/.metadata/.plugins/org.eclipse.m2e.logback/logback.2.2.1.20231030-1438.xml
Backend/.metadata/.plugins/org.eclipse.mylyn.github.ui/avatars.ser
Backend/.metadata/.plugins/org.eclipse.oomph.setup/workspace.setup
Backend/.metadata/.plugins/org.eclipse.tips.ide/dialog_settings.xml
Backend/.metadata/.plugins/org.eclipse.ui.intro/introstate
Backend/.metadata/.plugins/org.eclipse.ui.workbench/dialog_settings.xml
Backend/.metadata/.plugins/org.eclipse.ui.workbench/workingsets.xml
